.navbar {
  height: 70px;
  background-color: rgb(13, 16, 28);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
  color: rgb(121, 181, 2);
  font-weight: 800;
  font-style: italic;
  font-size: xx-large;
  font-family: Arial, Helvetica, sans-serif;
}

.nav-links a {
  margin-left: 25px;
  text-decoration: none;
  color: white;
  font-size: 0.95rem;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: rgb(121, 181, 2);
}

.highlight {
  padding: 6px 14px;
  border-radius: 6px;
  background-color: rgb(121, 181, 2);
  color: rgb(13, 16, 28) !important;
}
